#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 57%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 42px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color:ivory;
  margin: 0;
}

#container a {
  text-decoration: none;
}
#center{
  text-align: center; 
}
.logo {
  width: 40%;
  text-align: center;
  margin-top: 20%;
}

.title {
  margin-top: 50%;
  text-align: center;
}

.title p {
  margin-top: 0 !important;
}
ion-button{
  text-transform: none;
  margin-top: 60%;
  max-width: 30%;
  margin-left: 36%;
}
